#contenu
{
	display: flex;
	width: 1190px;
	height: 1684px;
	border: 1px solid grey;
	font-size: 20px;
	font-family: Arial, "times new roman", serif;
	overflow: auto;
}
#element1
{
	background-color: #B39DDB;
	width: 390px;
	text-align: justify;
	overflow: auto;

	display: flex;
	flex-direction: column;
	justify-content: space-around;

	padding-top: 50px;
	padding-bottom: 50px;
}
#element2
{
	padding: 60px 35px 60px 35px;
	width: 800px;
	color: #263238;
	overflow: auto;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
/*style colonne de gauche*/
#tete
{
	width:220px;
	height:220px;
	border-radius: 50%;
	margin-left: 70px;
}
ul
{
	list-style-type: none;
	padding-top: 25px;
}
#element1 h2
{
	background-color: #263238;
	color:  #B39DDB;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
}
#element1 p
{
	padding: 35px;
}
#element1 i
{
	color: #263238;
	font-size: 60px;
	
	border: 3px solid #263238;
	border-radius: 50%;
	padding: 10px;
}
#logo1
{
	display: inline-flex;
	justify-content: space-around;

}
/*style colonne de droite*/
h1
{
	font-size: 70px;
	margin-bottom: 5px;
	font-weight: normal;
}
 header h3
{
	font-size:30px;


}
h1 span
{
	color: #B39DDB;
}
h2
{
	padding-bottom: 20px;
}
#sousligner /*souslignage de dévelopeuse dans header*/
{
	text-decoration: underline #B39DDB;
}

#element2 h2/*trait sous chaque Sections du CV*/
{
	border-bottom: 4px solid #B39DDB;
}
#formation_master
{
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-around;
}
#formation
{
	display: flex;
}
.class1
{
	font-weight: bold; 
	flex: 1;
}
.class2
{
	flex: 2;
}
#experience
{
	display: flex;
}
h3
{
	margin-top: 1px; /* permet d'aligner la date avec le paragraphe*/
}
.reco
{
	font-weight: bold;
}
i
{
	color: #B39DDB;
	margin-right: 10px;
}
