body
{
	background-color: #EDE7F6;
}
#contenu
{
	display: flex;
	max-width: 1190px;
	height: 1684px;
	border: 1px solid grey;
	font-size: 20px;
	font-family: Arial, "times new roman", serif;
	overflow: auto;
	margin: auto;
	background-color: white;
}
#element1
{
	background-color: #B39DDB;
	flex: 1;
	text-align: justify;
	overflow: auto;

	display: flex;
	flex-direction: column;
	justify-content: space-around;

	padding-top: 20px;
	padding-bottom: 20px;
}
#element2
{
	padding: 60px 40px 60px 40px;
	flex: 2;
	color: #263238;
	overflow: auto;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
/*style colonne de gauche*/
img
{
	width:200px;
	height:200px;
	border-radius: 50%;
	margin-left: 80px;
}

#element1 h2
{
	background-color: #263238;
	color:  #B39DDB;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
}
#element1 p
{
	padding: 0 30px 0 30px;
}
#element1 i
{
	color: #263238;
	font-size: 60px;
	
	border: 2px solid #263238;
	border-radius: 50%;
	padding: 10px;
}
#logo1
{
	display: inline-flex;
	justify-content: space-around;
}
/*style colonne de droite*/
h1
{
	font-size: 60px;
	margin-bottom: 5px;
	font-weight: normal;
}
 header h3
{
	font-size:30px;


}
h1 span
{
	color: #B39DDB;
}
h2
{
	padding-bottom: 10px;
}
#sousligner /*souslignage de dévelopeuse dans header*/
{
	text-decoration: underline #B39DDB;
}

#element2 h2/*trait sous chaque Sections du CV*/
{
	border-bottom: 2px solid #B39DDB;
}
#formation_master
{
	display: flex;
	flex-direction: column-reverse;
}
#formation1
{
	display: flex;
}
#formation2
{
	display: flex;
}
#formation3
{
	display: flex;
}
.class1
{
	font-weight: bold; 
	flex: 1;
}
.class2
{
	flex: 2;
}
#experience
{
	display: flex;
}
h3
{
	margin-top: 1px; /* permet d'aligner la date avec le paragraphe*/
}

i
{
	color: #B39DDB;
	margin-right: 10px;
}

/* Responsive code css
@media screen and (max-width: 1250px) and (min-width: 800px)
{
	#contenu
	{
		max-width: 595px;
		max-height: 842px;
		font-size: 10px;
	}
	h1
	{
		font-size: 35px;
	}
	header h3 
	{
		
		font-size: 15px;
	}
	img 
	{
		width: 100px;
		height: 100px;
		margin-left: 20%;
	}
	#element1 i 
	{
		font-size: 20px;
	}
	#element2
	{
		padding: 5% 5% 10% 5%;

	}
}
*/

/*Petit écran*/
@media screen and (max-width: 1200px)
{
	#contenu
	{
		flex-direction: column-reverse;
		height: 100%;
		text-align: center;
		width: 100%;
	}
	#element2
	{
		padding: 5% 0% 5% 0%;
		font-size: 40px;
	}
	.apropos
	{
		font-size: 40px;
	}
	h1 
	{
		font-size: 100px;
	}
	h2 
	{
		background-color: #B39DDB;
	}
	#formation
	{
		display: flex;
		flex-direction: column;
	}
	h2 i 
	{
		color: #263238;
	}
	i 
	{
		padding-right: 2%;
	}
	#experience
	{
		display: flex;
		flex-direction: column;
	}

	img
	{
		height: 500px;
		width: 500px;
		margin-left: 25%;
	}
	#CONTACT
	{
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
	#element1 i
	{
		font-size: 120px;
		padding: 20px;
	}
